html {
	scroll-behavior: smooth;
}
body {
	background-color: #eeeeee;
}
* {
	margin: 0px;
	padding: 0px;
	font-family: "Raleway", sans-serif;
}

.container {
	max-width: 1560px;
	margin: 0 auto;
	padding: 0 35px;
}
.is_full_bleed {
	padding: 0;
	max-width: inherit;
}
a {
	text-decoration: none;
	color: #141e61;
}
a:hover {
	color: #787a91;
}

li {
	list-style: none;
	padding-left: 15px;
	padding-right: 15px;
	font-size: 17px;
	color: #141e61;
	font-weight: bold;
}
textarea {
	resize: none;
}
label {
	display: block;
}
input {
	display: block;
}
nav {
	display: flex;
	margin-left: auto;
	gap: 30px;
	padding-right: 180px;
}

p {
	color: #eeeeee;
}

.header {
	display: flex;
	align-items: center;
	background-color: #eeeeee;
	border-style: double;
	border-color: white white rgb(177, 177, 177) white;
	border-top: 0;
	border-right: 0;
	border-left: 0;
	position: sticky;
	top: 0;
	z-index: 1;
	height: 52px;
}

.name_header {
	font-size: 23px;
	padding-left: 10px;
	color: #141e61;
	align-self: end;
}
.logo_container {
	display: flex;
}
.main_logo {
	padding-left: 180px;
}

.index_about {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 70px;
	padding-top: 140px;
	padding-bottom: 50px;
	background-color: #eeeeee;
}
.index_col_1 {
	text-align: center;
	align-self: center;
}

.index_col_2 {
	text-align: center;
	align-self: center;
	display: flex;
	flex-direction: column;
}
.col_2_wrapper {
	display: flex;
	flex-direction: column;
	gap: 95px;
}

.service_container {
	grid-area: service_container;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 250px auto;
	grid-template-areas:
		"service_header_container service_header_container"
		"service_grid service_grid";
	background-color: #eeeeee;
	border-style: double;
	border-color: #141e61;
	border-bottom: 0;
	border-right: 0;
	border-left: 0;
	margin-bottom: 150px;
}

.service_header_container {
	grid-area: service_header_container;
	display: flex;
	justify-content: center;
	align-self: center;
}

.service_grid {
	grid-area: service_grid;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-areas:
		"service_wrapper_1 service_wrapper_2"
		"service_wrapper_3 service_wrapper_4";
	gap: 90px;
	padding: 0 150px;
}
.service_wrapper_1 {
	grid-area: service_wrapper_1;
}
.service_wrapper_2 {
	grid-area: service_wrapper_2;
}
.service_wrapper_3 {
	grid-area: service_wrapper_3;
}
.service_wrapper_4 {
	grid-area: service_wrapper_4;
}
.service_wrapper {
	max-width: 300px;
	justify-self: center;
}

.contact_container {
	grid-area: contact_container;
}
.footer {
	grid-area: footer;
}

.img_sebi {
	height: 550px;
	align-self: center;
	border-radius: 10px;
}
.main_name {
	font-size: 60px;
	color: #141e61;
	padding-bottom: 25px;
}
.name_wrapper {
	text-align: start;
}

.name_status {
	font-size: 30px;
	color: grey;
}

.index_description {
	display: flex;
	flex-direction: column;
	text-align: start;
	gap: 10px;
}
.description_title {
	font-size: 20px;
	text-transform: uppercase;
	font-weight: bold;
	color: #141e61;
	padding-bottom: 25px;
}
.resume_text {
	font-size: 15px;
	font-weight: 500;
	color: #141e61;
	padding-bottom: 15px;
}

.service_header {
	font-size: 55px;
	color: #141e61;
	text-shadow: 1px 2px 3px rgb(134 138 178);
	border: 10px solid;
	border-width: 3px;
	padding-bottom: 40px;
}
.only_bottom {
	border-left: 0;
	border-right: 0;
	border-top: 0;
}

.service_title {
	color: #141e61;
	text-align: center;
	font-weight: bold;
	padding-bottom: 25px;
}

.img_service {
	height: 120px;
}

.service_name {
	font-size: 30px;
	padding-top: 15px;
}

.service_text {
	text-align: center;
	color: #0f044c;
}

.contact_container {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-areas:
		"contact_title_container contact_title_container"
		"contact_form contact_adress"
		"top_arrow top_arrow";
	background-image: url(../img/img_ciudad.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
}
.contact_container::after {
	content: "";
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 10px;
	background: linear-gradient(
		360deg,
		rgba(0, 0, 0, 1) 0%,
		rgba(0, 0, 0, 0) 100%
	);
}
.contact_adress {
	grid-area: contact_adress;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding-left: 100px;
}
.contact_form {
	grid-area: contact_form;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	padding-right: 100px;
}
.contact_title_container {
	grid-area: contact_title_container;
	display: flex;
	justify-content: center;
	align-self: center;
	padding: 70px 0px 70px 0px;
}
.contact_title {
	font-size: 45px;
	color: #0f044c;
	text-shadow: 1px 2px 3px #eeeeee;
}

.contact_data_title {
	color: #0f044c;
	text-shadow: 0.3px 0.8px 1px #eeeeee;
	padding: 20px 0px 20px 10px;
}
.contact_data_title2 {
	color: #0f044c;
	text-shadow: 0.3px 0.8px 1px #eeeeee;
	padding: 10px 0px 5px 0px;
}

.top_arrow {
	grid-area: top_arrow;
	text-align: center;
	display: flex;
	justify-content: center;
	align-self: flex-end;
	padding-top: 85px;
}

.arrow_svg {
	transform: rotate(90deg);
	fill: black;
	background-color: #eeeeee;
	border-style: solid;
	border-color: black;
}
.anchor_arrow {
	border-style: solid;
	border-color: black;
	background-color: black;
}

.contact__data_title {
	padding: 60px 0px 75px 0px;
	align-self: center;
	color: #141e61;
}

.adress_wrapper {
	background-color: #787a91;
	width: 500px;
	padding: 15px;
	border-radius: 5px;
	box-shadow: 5px 4px 5px rgb(134, 138, 178);
}

.contact_info {
	display: flex;
	gap: 15px;
	padding: 15px 0px 40px 5px;
}

form {
	background-color: #787a91;
	width: 420px;
	height: 645px;
	padding: 20px 3px 25px 45px;
	border-radius: 5px;
	box-shadow: 5px 4px 5px rgb(134, 138, 178);
}

input {
	border: 0;
	outline: none;
	padding: 10px;
}
textarea {
	border: 0;
	outline: none;
	padding: 10px;
}
button {
	border: 0;
	outline: none;
}

label {
	padding: 20px 15px 20px 3px;
	color: #eeeeee;
}

.btn {
	display: block;
	height: 40px;
	width: 70px;
	border-radius: 5px;
	text-decoration: none;
	color: #ccc;
	background-color: #141e61;
}
.btn_wrapper {
	display: flex;
	justify-content: right;
	padding-top: 25px;
	padding-right: 60px;
}

.btn:hover {
	background-color: #2f58cd;
}

.field {
	border: solid 1px #ccc;
	border-radius: 5px;
	width: 340px;
}

.field:focus {
	border-color: blueviolet;
}

.footer {
	background-color: black;
}

.footer_info {
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	text-align: center;
	padding-top: 40px;
}
.footer_text {
	color: grey;
	font-weight: 400;
}
.copyright {
	color: grey;
	font-size: 11px;
	font-style: italic;
	padding-top: 15px;
}

.logo_whatsapp {
	z-index: 1;
	position: fixed;
	right: 0%;
	bottom: 0%;
	padding-right: 30px;
	padding-bottom: 35px;
}

@media (min-width: 1560px) {
	.main_content {
		padding: 0;
	}
}
